//color
$primary: #32c795;
$success: #36b389;
$warning: #f7a500;
$danger: #f55656;
$info: #498df2;

$bg: #f7f7f7;
$border-color-primary: #e6e6e6;
$label-red: #e5511d;

$table-hover-color: #f5f7fa;

$font-color: #666;
$font-color-dark: #333;
$font-color-light: #999;
$font-color-lighter: #ccc;
$font-color-lightest: #e6e6e6;
//misc
$border-solid: 1px $border-color-primary solid;
$border-radius: 2px;
//size
$font-size: 14px;
$h1: 20px;
$h2: 18px;
$h3: 16px;
$h4: $font-size;
$h5: 12px;

//media
$sm: 768px;
$md: 1024px;
$lg: 1280px;

$breakpoints: (
  'xs': '( max-width:  #{$sm - 1})',
  'sm-up': (
    min-width: $sm
  ),
  'sm': '(min-width: #{$sm}) and (max-width: #{$md} - 1)',
  'sm-down': (
    max-width: $md - 1
  ),
  'md-up': (
    min-width: $md
  ),
  'md': '(min-width: #{$md}) and (max-width: #{$lg } - 1)',
  'md-down': (
    max-width: $lg - 1
  ),
  'lg': (
    min-width: $lg
  )
);
